<h2>Layouts y Partial Views</h2>

<a href="/Home/Index">Index sin Layout</a>
<a href="/Home/IndexConLayout">IndexConLayout</a>
<a href="/Home/IndexConLayoutYRegiones">IndexConLayoutYRegiones</a>
<a href="/Home/IndexConLayoutAnidado">IndexConLayoutAnidado</a>
<a href="/Home/IndexConPartial">IndexConPartial</a>

<h2>Validaciones</h2>
<a href="/EjemplosValidaciones/AltaUsuario">Alta Usuario</a>