@model Clase5LayoutsValidaciones.Models.Usuario
<div>
    <a href="/Home/Perfil/@Model.Id">
        <img src="@Model.Avatar" width="100" height="100" />
        @Model.NombreDeUsuario (@Model.Puntos)
    </a>
</div>