
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @{Html.RenderPartial("~/Views/Shared/_pvTopMenuLinks.cshtml");}

        <h1>Vista Home - Index</h1>
    </div>
</body>
</html>
