
@{
    ViewBag.Title = "IndexConLayoutAnidado";
    Layout = "~/Views/Shared/_LayoutAnidado.cshtml";
}

<h2>IndexConLayoutAnidado</h2>

@section linksAdmin
{
    <a href="#">link admin1</a>
    <a href="#">link admin2</a>
}

