
@{
    ViewBag.Title = "IndexConLayoutYRegiones";
    Layout = "~/Views/Shared/_LayoutConRegiones.cshtml";
}

@section bodyStart
{
    <h2>Seccion Body Start de mi vista</h2>
}

<h2>IndexConLayoutYRegiones</h2>
<strong>Contenido de mi vista!!</strong>
<p>asd adasdas    d asd asdasadasdasdsa</p>
<p>asd adasdas    d asd asdasadasdasdsa</p>
<p>asd adasdas    d asd asdasadasdasdsa</p>
<p>asd adasdas    d asd asdasadasdasdsa</p>
<p>asd adasdas    d asd asdasadasdasdsa</p>

@section bodyEnd
{
    <h2>Seccion Body End de mi vista</h2>
}



