
@{
    ViewBag.Title = "IndexConLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<strong>Pagina con Layout</strong>
<p>adsasdasdasdsaasdasdsadasdas asdas dasda sdas das das das</p>
<p>adsasdasdasdsaasdasdsadasdas asdas dasda sdas das das das</p>
<p>adsasdasdasdsaasdasdsadasdas asdas dasda sdas das das das</p>
<p>adsasdasdasdsaasdasdsadasdas asdas dasda sdas das das das</p>
<p>adsasdasdasdsaasdasdsadasdas asdas dasda sdas das das das</p>
